<ion-header>
   <ion-toolbar>
      <ion-title>Login</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card class="welcome-card">
      <ion-card-header class="ion-no-padding ion-padding-top">
         <ion-grid>
            <ion-row class="ion-justify-content-center">
               <ion-col size="6">
                  <img src="assets\img\logo_postabezhranic.svg" />
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-card-header>
      <ion-card-content>
         <form #form="ngForm" (ngSubmit)="authorizeLogin(form)" method="post" (keyup.enter)="authorizeLogin(form)">
            <ion-item>
               <ion-label position="floating">Username</ion-label>
               <ion-input ngModel class="form-control" type="text" name="username" required></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position="floating">Password</ion-label>
               <ion-input ngModel class="form-control" type="password" name="password" required></ion-input>
            </ion-item>
            <ion-button class="ion-margin-top" type="submit" expand="block" color="success" [disabled]="!form.valid">
               Login</ion-button>
         </form>
         <div *ngIf="loginMessage == 'authorized';then loged_in else error_message"></div>
         <ng-template #loged_in>
            <label>You are loged in: {{loginMessage}}</label>
         </ng-template>
         <ng-template #error_message>
            <label>{{loginMessage}}</label>
         </ng-template>
      </ion-card-content>
   </ion-card>
</ion-content>