<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Package Scanner</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
