<ion-header>
  <ion-toolbar>
    <ion-title>
      Package Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
   <ion-card-header class="ion-no-padding ion-padding-top" >
      <ion-toolbar>
         <ion-title>Choose scannner function:</ion-title>
       </ion-toolbar>
   </ion-card-header>
    <ion-card-content>
      <ion-button (click)="scan()" expand="block" color="success">Scan package</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
