<ion-header>
   <ion-toolbar>
      <ion-title>Pošta bez Hranic</ion-title> 
    </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div *ngIf="loggedUser != null;then logged_in else not_logged"></div>    
      <ng-template #logged_in>
         <ion-card class="welcome-card">
            <ion-card-header class="ion-no-padding ion-padding-top" >
               <ion-toolbar>
                  <ion-buttons slot="primary">
                    <ion-button (click)="logout()">
                       Logout
                      <ion-icon slot="end" name="ios-log-out"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-title>Logged user</ion-title>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>
               <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets\img\avatar.svg">
                  </ion-avatar>
                  <ion-title><span class="ion-text-uppercase">{{loggedUser}}</span></ion-title>
               </ion-item>
            </ion-card-content>
         </ion-card>
      </ng-template>
      <ng-template #not_logged>
         <app-login></app-login>
      </ng-template>-->
      <div *ngIf="loggedUser != null;then logged_in else not_logged"></div>
      <ng-template #logged_in>
         <ion-card class="welcome-card">
            <ion-card-header class="ion-no-padding ion-padding-top" >
               <ion-toolbar>
                  <ion-buttons slot="primary">
                    <ion-button (click)="logout()">
                       Logout
                      <ion-icon slot="end" name="ios-log-out"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-title>Logged user</ion-title>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>
               <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets\img\avatar.svg">
                  </ion-avatar>
                  <ion-title><span class="ion-text-uppercase">{{loggedUser}}</span></ion-title>
               </ion-item>
            </ion-card-content>
         </ion-card>
      </ng-template>
      <ng-template #not_logged>
         <ion-card class="welcome-card">
            <ion-card-header class="ion-no-padding ion-padding-top" >
               <ion-toolbar>
                  <ion-title>You are not logged in</ion-title>
                </ion-toolbar>
            </ion-card-header>
            <ion-card-content>
               <ion-button class="ion-margin-top" expand="block" color="success" (click)="login()">Go to Login</ion-button>
            </ion-card-content>
         </ion-card>
      </ng-template>
      
</ion-content>
